/*
.right
{
  display : block;
  text-align : right;
}
.left
{
  display : block;
  text-align : left;
}
*/

-span-class-left-span-,
-span-class-left-wf-sor-span-
{
  text-align : left;
}

-span-class-right-span-,
-span-class-right-wf-sor-span-
{
  text-align : right;
}
